@reference "./../../../theme/styles.scss";

:host {
	@apply relative flex;
}

.tooltip-container {
	@apply relative flex z-10 h-auto w-auto;

  &.widthFull {
    @apply w-full;
  }
}

.tooltip {
	@apply lg:flex hidden items-center rounded-md select-none whitespace-nowrap pointer-events-none font-medium text-[.9rem] bg-slate-900/80 absolute h-[2rem] w-fit z-0 text-white py-[.3rem] px-2.5;
	transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
  will-change: opacity, transform;
  opacity: 0;

  &.visible {
    opacity: 1;
    pointer-events: auto;
  }

  &[data-position='top'] {
    transform: translateY(10px);
  }
  &[data-position='top'].visible {
    transform: translateY(0);
    opacity: 1;
  }

  &[data-position='bottom'] {
    transform: translateY(-10px);
  }
  &[data-position='bottom'].visible {
    transform: translateY(0);
    opacity: 1;
  }

  &[data-position='left'] {
    transform: translateX(-10px);
  }
  &[data-position='left'].visible {
    transform: translateX(0);
  }

  &[data-position='right'] {
    transform: translateX(10px);
  }
  &[data-position='right'].visible {
    transform: translateX(0);
  }
}
