.sectors-container {
  height: calc(100dvh - 96px - 46px - 2rem);
}

.sectors-container:focus {
  outline: 0;
}

.sectors-options {
  height: calc(100% - 32px);
}

mgl-map {
  height: 100%;
  width: 100%;
}

mgl-map canvas {
  outline: 0;
}

.left-responsive {
  left: 1rem;
  transition: left .3s cubic-bezier(0.4, 0, 0.2, 1);
}

.left-animate {
  left: 20rem;
}

@media screen and (min-width: 1024px) {
  .left-responsive {
    left: 20rem;
  }
}

.menu-sectors {
  transform: translateX(-110%);
  transition: transform 0.5s;

  &.menu-sectors-visible {
    transform: translateX(0);
  }
}
