.grid-responsive {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

@media screen and (min-width: 750px) {
  .grid-responsive {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media screen and (min-width: 1024px) {
  .grid-responsive {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

@media screen and (min-width: 1370px) {
  .grid-responsive {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media screen and (min-width: 1690px) {
  .grid-responsive {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

.animateSvg {
  animation: slideIn .5s ease-in-out forwards;
  display: none;
}

@media screen and (min-width: 680px) {
  .animateSvg {
    display: block;
  }
}

@media screen and (min-width: 1024px) {
  .animateSvg {
    display: none;
  }
}

@media screen and (min-width: 1380px) {
  .animateSvg {
    display: block;
  }
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
